@font-face {
  font-family: 'Century Gothic Regular';
  src: url('assets/fonts/CenturyGothic.ttf') format('truetype'),
    url('assets/fonts/CenturyGothic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('assets/fonts/CenturyGothic-Bold.ttf') format('truetype'),
    url('assets/fonts/CenturyGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Italic';
  src: url('assets/fonts/CenturyGothic-Italic.ttf') format('truetype'),
    url('assets/fonts/CenturyGothic-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Bold Italic';
  src: url('assets/fonts/CenturyGothic-BoldItalic.ttf') format('truetype'),
    url('assets/fonts/CenturyGothic-BoldItalic.woff') format('woff');
}
